{
    "crapphysics" : {
        "gravityMultiplier" : 0.60,
        "bounceFactor" : 0.0,
        "maxMovementPerStep" : 0.75,
  
        "ignorePlatformCollision" : true,
  
        "airFriction" : 0.01,
        "liquidFriction" : 1.0,
        "speedLimit" : null,
        "maximumCorrection" : 0.75
    },
    "bullet" : {
        "mass" : 1.0,
        "gravityMultiplier" : 0.0,
        "maxMovementPerStep" : 0.4,
    
        "collisionPoly" : [ [-0.25, -0.25], [0.25, -0.25], [0.25, 0.25], [-0.25, 0.25] ],
        "ignorePlatformCollision" : true,
        "groundFriction" : 0,
        "airFriction" : 0.0,
        "liquidFriction" : 0.0,
        "speedLimit" : null,
        "maximumCorrection" : 0.75
    }
}